{% extends "signature/base.html" %} {% load static %} {% block content %}

<div class="wrapper">
  <div class="section section-hero section-shaped">
    <div class="shape shape-style-1 shape-primary">
      <span class="span-150"></span>
      <span class="span-50"></span>
      <span class="span-50"></span>
      <span class="span-75"></span>
      <span class="span-100"></span>
      <span class="span-75"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
    </div>
    <div class="page-header">
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <h1 class="mb-0 text-white">Get Your Amazing</h1>
              <h1 class="mb-0 text-white">Email Signature.</h1>
              <div class="btn-wrapper mt-5">
                <a
                  href="#potato"
                  class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0"
                >
                  <span class="btn-inner--text">Click here to START</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <div class="section section-components" id="potato">
    <div class="row justify-content-center">
      <div class="col-lg-8 mx-auto">
        <!-- Tabs with icons -->
        <div class="nav-wrapper">
          <ul
            class="nav nav-pills nav-justified flex-column flex-md-row"
            id="tabs-icons-text"
            role="tablist"
          >
            <li class="nav-item">
              <a
                class="nav-link mb-sm-3 mb-md-0 active"
                id="tabs-icons-text-1-tab"
                data-toggle="tab"
                href="#tabs-icons-text-1"
                role="tab"
                aria-controls="tabs-icons-text-1"
                aria-selected="true"
                >Template</a
              >
            </li>
            <!-- <li class="nav-item">
              <a
                class="nav-link mb-sm-3 mb-md-0"
                id="tabs-icons-text-2-tab"
                data-toggle="tab"
                href="#tabs-icons-text-2"
                role="tab"
                aria-controls="tabs-icons-text-2"
                aria-selected="false"
                >Template 2</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link mb-sm-3 mb-md-0"
                id="tabs-icons-text-3-tab"
                data-toggle="tab"
                href="#tabs-icons-text-4"
                role="tab"
                aria-controls="tabs-icons-text-4"
                aria-selected="false"
                >Template 3</a
              >
            </li> -->
          </ul>
        </div>

        <div class="card shadow">
          <div class="card-body py-5">
            <div class="tab-content card-shadow" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="tabs-icons-text-1"
                role="tabpanel"
                aria-labelledby="tabs-icons-text-1-tab"
              >
                <center>
                  <div class="card-body">
                    <div class="sample">
                      <div style="display: flex;flex-flow: wrap-reverse;align-content: flex-end;justify-content: center;margin-left: 60px;">
                          <div  style="/* border-bottom: 5px solid green; */border-right: 5px solid orangered;border-left: none;border-top:none;background-color:transparent;position: relative;display: flex;flex-direction: column;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border-radius: .25rem;padding-left:50px;padding-right:50px;">
                            <center>
                              <img src="{{photo}}" class="img-fluid mx-auto" style="height:90px;width:90px; border-radius:100px;" alt="Card image cap">
                            </center>
                            <div style="flex: 1 1 auto;padding: 1rem 1rem;">
                              <h2 class="card-title text-center" style="margin-bottom: .5rem; text-align: center; font-size: 16px;">{{full_name}}</h2>
                              <p class="card-text text-center" style="text-align:center;"><span style="background-color: #fe730c; padding:5px;color:white;font-size:15px;"><b>{{employee.designation}}</b></span></p>
                              
                              <!--<p class="card-text text-center"><small class="text-muted">Dunder Mifflin Company</small></p> -->
                            </div>
                          </div>
                          <div style="border-top:none;background-color:transparent;position: relative;display: flex;flex-direction: column;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border-radius: .25rem;padding-left:50px;padding-right:50px;">
                            
                            <div style="flex: 1 1 auto;padding: 1rem 1rem;">
                              <!-- <h5 class="card-title text-center">DWIGHT SCHRUTE</h5>
                              <p class="card-text text-center"><b>Regional Manager</b></p> -->
                              <p class="card-text text-center" style="font-size: 13px;"><span style="color:#fe730c; font-size:13px;"><b>Email</b></span>: <a href="mailto:{{employee.email}}">{{employee.email}}</a></p>
                              <p class="card-text text-center" style="font-size: 13px;"><span style="color:#fe730c; font-size:13px;"><b>Phone</b></span>: +{{employee.phone_number}}</p>
                              <p class="card-text text-center" style="font-size: 13px;"><span style="color:#fe730c; font-size:13px;"><b>Website</b></span>: {{website}}</p>
                              <p class="card-text text-center" style="font-size: 13px;"><span style="color:#fe730c; font-size:13px;"><b>Location</b></span>: {{location}}</p>
                              <br>
                              <center>
                                  <div class="">
                                      <div style="display: inline-block;"><img src="https://github.com/Zalego-development/CompanyLogos/blob/main/icons8-facebook-circled-30.png?raw=true"></div>
                                      <div style="display: inline-block;"><img src="https://github.com/Zalego-development/CompanyLogos/blob/main/icons8-instagram-logo-30.png?raw=true"></div>
                                      <div style="display: inline-block;"><img src="https://github.com/Zalego-development/CompanyLogos/blob/main/icons8-twitter-circled-30.png?raw=true"></div>
                                      <div style="display: inline-block;"><img src="https://github.com/Zalego-development/CompanyLogos/blob/main/icons8-youtube-play-button-30.png?raw=true"></div>
                                  </div>
                              </center>
                            </div>
                          </div>
                          <!-- <div class="card py-3" style="border-bottom: 5px solid orangered; border-top:none;border-right: none;background-color:transparent;position: relative;display: flex;flex-direction: column;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border-radius: .25rem;; padding-left:50px;padding-right:50px;">
                              
                            <div class="card-body" style="flex: 1 1 auto;padding: 1rem 1rem;">
                              
                            </div>
                          </div> -->
                        </div><br><br>
                        <div>
                          <img src="{{companyLogo}}" class="img-fluid mx-auto" style="height: 70px;display: flex;flex-flow: wrap-reverse;align-content: flex-end;justify-content: center;margin-left: 360px;">
                        </div>
                        
                  </div>
                  <center><button type="button" class="btn btn-default btn-round samplecopybtn">Copy this Signature</button></center>
                  </div>
                </center>
                
              </div>

              <div
                class="tab-pane fade"
                id="tabs-icons-text-2"
                role="tabpanel"
                aria-labelledby="tabs-icons-text-2-tab"
              >
                <div class="card-body">
                  <div class="sample">
                    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                        <tbody>
                            <tr>
                                <td valign="top" width="60" style="width:45.0pt; padding:0in 5.4pt 0in 5.4pt">
                                    <p class="x_MsoNormal"><span style="font-size:8.0pt"><img
                                                src="${imageobj}"
                                                style="height:64px; width: 64px; border-radius:10px"></span></p>
                                </td>
                                <td valign="top" width="250" style="width:187.45pt; padding:0in 5.4pt 0in 5.4pt">
                                    <p class="x_MsoNormal"><b><span
                                                style="font-size:11.0pt; font-family:&quot;Arial&quot;,sans-serif; color:#7FC41C">${fullname}</span></b><b><span
                                                style="font-family:&quot;Arial&quot;,sans-serif; color:#7FC41C"></span></b></p>
                                    <p class="x_MsoNormal"><span
                                            style="font-size:8.0pt; font-family:&quot;Arial&quot;,sans-serif">${designationname} at ${companyname}</span>
                                    </p>
                                    <table border="0" width="100" cellpadding="0" cellspacing="0" class="x_MsoNormalTable"
                                        style="width:75.0pt">
                                        <tbody>
                                            <tr>
                                                <td style="padding:3.75pt 3.75pt 0in 0in;">
                                                    <p class="x_MsoNormal"><a href="${linkedinicon}" target="_blank"
                                                            rel="noopener noreferrer" data-auth="NotApplicable" data-linkindex="0"
                                                            data-ogsc="" style="color: rgb(228, 159, 255) !important; display: ${linkedinicon?`block`:`none`}"><span
                                                                style="font-size: 13.5pt; font-family: Times; color: rgb(222, 152, 255) !important; text-decoration: none;"
                                                                data-ogsc="blue"><img id="linkedinid" naturalheight="0" naturalwidth="0"
                                                                    src="https://img.icons8.com/material-rounded/50/000000/linkedin--v1.png"
                                                                    border="0" style="width: 0.25in; height: 0.25in; display: ${linkedinicon?`block`:`none`}"></span></a><span
                                                            style="font-size: 13.5pt; font-family: Times; color: rgb(255, 255, 255) !important;"
                                                            data-ogsc="black"></span></p>
                                                </td>
                                                <td style="padding:3.75pt 3.75pt 0in 0in">
                                                    <p class="x_MsoNormal"><a href="${twittericon}" target="_blank"
                                                            rel="noopener noreferrer" data-auth="NotApplicable" data-linkindex="1"
                                                            data-ogsc=""
                                                            style="color: rgb(228, 159, 255) !important; display:${twittericon?`block`:`none`}"><span
                                                                style="font-size: 13.5pt; font-family: Times; color: rgb(222, 152, 255) !important; text-decoration: none;"
                                                                data-ogsc="blue"><img id="twitterid" naturalheight="0" naturalwidth="0"
                                                                    src="https://img.icons8.com/material-rounded/50/000000/twitter.png"
                                                                    border="0" style="width: 0.25in; height: 0.25in; display: ${twittericon?`block`:`none`}"></span></a><span
                                                            style="font-size: 13.5pt; font-family: Times; color: rgb(255, 255, 255) !important;"
                                                            data-ogsc="black"></span></p>
                                                </td>
                                                <td style="padding:3.75pt 3.75pt 0in 0in">
                                                    <p class="x_MsoNormal"><a href="${facebookicon}" target="_blank"
                                                            rel="noopener noreferrer" data-auth="NotApplicable" data-linkindex="1"
                                                            data-ogsc=""
                                                            style="color: rgb(228, 159, 255) !important; display:${facebookicon?`block`:`none`}"><span
                                                                style="font-size: 13.5pt; font-family: Times; color: rgb(222, 152, 255) !important; text-decoration: none;"
                                                                data-ogsc="blue"><img id="facebookid" naturalheight="0" naturalwidth="0"
                                                                    src="https://img.icons8.com/material-rounded/50/000000/facebook.png"
                                                                    border="0" style="width: 0.25in; height: 0.25in; display: ${facebookicon?`block`:`none`}"></span></a><span
                                                            style="font-size: 13.5pt; font-family: Times; color: rgb(255, 255, 255) !important;"
                                                            data-ogsc="black"></span></p>
                                                </td>
                                                <td style="padding:3.75pt 3.75pt 0in 0in">
                                                    <p class="x_MsoNormal"><a href="${youtubeicon}" target="_blank"
                                                            rel="noopener noreferrer" data-auth="NotApplicable" data-linkindex="1"
                                                            data-ogsc="" style="color: rgb(228, 159, 255) !important; display: ${youtubeicon?`block`:`none`}"><span
                                                                style="font-size: 13.5pt; font-family: Times; color: rgb(222, 152, 255) !important; text-decoration: none;"
                                                                data-ogsc="blue"><img id="youtubeid" naturalheight="0" naturalwidth="0"
                                                                    src="https://img.icons8.com/material-rounded/50/000000/youtube-play.png"
                                                                    border="0" style="width: 0.25in; height: 0.25in; display:${youtubeicon?`block`:`none`}"></span></a><span
                                                            style="font-size: 13.5pt; font-family: Times; color: rgb(255, 255, 255) !important;"
                                                            data-ogsc="black"></span></p>
                                                </td>
                                                <td style="padding:3.75pt 3.75pt 0in 0in">
                                                    <p class="x_MsoNormal"><a href="${whatsappicon}" target="_blank"
                                                            rel="noopener noreferrer" data-auth="NotApplicable" data-linkindex="1"
                                                            data-ogsc="" style="color: rgb(228, 159, 255) !important; display: ${whatsappicon?`block`:`none`}"><span
                                                                style="font-size: 13.5pt; font-family: Times; color: rgb(222, 152, 255) !important; text-decoration: none;"
                                                                data-ogsc="blue"><img id="whatsappid" naturalheight="0" naturalwidth="0"
                                                                    src="https://img.icons8.com/material-rounded/40/000000/whatsapp.png"
                                                                    border="0" style="width: 0.25in; height: 0.25in; display:${whatsappicon?`block`:`none`}"></span></a><span
                                                            style="font-size: 13.5pt; font-family: Times; color: rgb(255, 255, 255) !important;"
                                                            data-ogsc="black"></span></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="x_MsoNormal"><b><span lang="FR-CA" style="font-size: 8pt; color: rgb(255, 169, 59) !important;"
                                data-ogsc="rgb(225, 127, 0)">Mobile</span></b><b><span lang="FR-CA"
                                style="font-size:8.0pt">:</span></b><span lang="FR-CA" style="font-size:8.0pt">
                            ${phonenumber}&nbsp; <b><span style="color: rgb(255, 169, 59) !important;"
                                    data-ogsc="rgb(225, 127, 0)">Email</span>:</b> <a href="mailto:${emailname}" target="_blank"
                                rel="noopener noreferrer" data-auth="NotApplicable" data-linkindex="5" data-ogsc=""
                                style="color: rgb(228, 159, 255) !important;"><span style="color: rgb(138, 184, 255) !important;"
                                    data-ogsc="rgb(5, 99, 193)">${emailname}</span></a> </span></p>
                    <hr width="100%" style="border: 2px solid #7FC41C; float:left; clear:both;"><br>
                    <p class="x_MsoNormal"><b><span style="font-size: 8pt; color: rgb(255, 169, 59) !important;"
                                data-ogsc="rgb(225, 127, 0)">Web</span></b><b><span style="font-size:8.0pt">:</span></b><span
                            style="font-size:8.0pt"> <a href="${websitename}" target="_blank" rel="noopener noreferrer"
                                data-auth="NotApplicable" data-linkindex="6" data-ogsc=""
                                style="color: rgb(228, 159, 255) !important;"><span style="color: rgb(138, 184, 255) !important;"
                                    data-ogsc="rgb(5, 99, 193)">${websitename}</span></a> &nbsp;</p>
                </div>
                </div>
                </div>

              <div
                class="tab-pane fade"
                id="tabs-icons-text-4"
                role="tabpanel"
                aria-labelledby="tabs-icons-text-3-tab"
              >
                <div class="card-body">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer has-cards">
    <div class="container">
      <hr />
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright">
            &copy; 2021 <a href="" target="_blank">Stepwise</a>.
          </div>
        </div>
        <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">
            <li class="nav-item">
              <a href="" class="nav-link" target="_blank">Stepwise</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link" target="_blank">About Us</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link" target="_blank">Blog</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link" target="_blank">License</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  
</div>

{% endblock content %}
